/* Add CSS Styling */

.odd {
    background-color: #F2ABA9;
    font-family: "Verndana" "DejaVu Sans" "sans-serif";
}

#two {
    color: #0000F5;
    font-size: 36px;
}

.three {
    font-size: 24px;
}

#four {
    background-color: #A1FC8F;
    font-size: 24px;
    font-weight: bold;
}